.sidebar {
  width: 18%;
  background-color: #4d4855;
background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'JetBrains Mono', monospace;
  padding-bottom: 38rem;
}

.sidebar ul {
  list-style: none;
  /* flex-grow: 1; */
  padding: 0;
  margin: 0 auto;
  margin-top: .5rem;
}

.username {
  padding: 10px;
  background-color: #f8f9fa;
  color: #333;
  font-size: 18px;
  border-radius: 40px;
  
  padding: .5rem 2rem;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
}


.username p {
  margin: 0 auto;
  
}

.logoutButton {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: .5rem 2rem;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
   width: fit-content;
   margin: 0 auto;
}


.link {
  text-decoration: none;
  color: #feffff;
  font-weight: bold;
  padding: 0.5rem 0;
  display: block;
  transition: color 0.3s, background-color 0.3s;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  
}

.link:hover {
  color: #ecf0f1;
  background-color: rgba(255, 255, 255, 0.1);
}

.link.active {
  color: #ecf0f1;
  border-left: 4px solid #3498db;
  padding-left: 0.5rem;
}

.title {
  color: #ecf0f1;
  font-size: 1.5rem;
  font-weight: bold;
  /* margin-bottom: 1rem; */
  font-family: "Signika Negative";
  margin-left: 1.2rem;
  
}


/* Add this new class to your Sidebar.module.css file */
.icon {
  font-size: 1.1rem;
  color: #95a5a6;
  margin-left: 1rem;
  vertical-align: middle;
}

.hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  margin: 1rem 0;
}

.image{
  display: inline;
}

.sidebarIcon{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.sidebarIcon img{
  padding-bottom: .2rem;
}
/* 
.userIcon{
  display: flex;
} */

.userProfile{
  margin-top: auto;
}

.sidebarContent {
  flex-grow: 1;
}
