.entryContainer {
  margin: 30px auto;
  width: 350px;
  height: 350px;
  border-radius: 40px;
/* box-shadow: 5px 5px 30px 7px rgba(243, 49, 49, 0.25), -5px -5px 30px 7px rgba(30, 13, 13, 0.22); */
  cursor: pointer;
  transition: 0.4s;
  background-color: rgb(134, 226, 249);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-family: 'JetBrains Mono', monospace;

}

.entryContainer:hover{
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.entryHeading {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.entryContent {
  margin: 1rem 0;
  padding: 6px;
  display: block;
  color: #ffffff;
  text-decoration: none;
  background-color: rgb(0, 128, 255);
  border-radius: 8px;
  font-family: 'Playfair Display', serif;
  border: none;

}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.entryButton {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border: none;
  border-radius: 4px;
  background-color: #c2e4ee;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.entryButton:hover {
  background-color: #0051c9;
}

.entryButton.edit {
}

.entryButton.delete {
  background-color: #f04a5a;
}

.entryButton.delete:hover {
  background-color: #e62742;
}

.entryContainer span {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  margin-right: 0.5rem;
  background-color: #0CA6BC;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.date {
  font-family: 'Caveat', cursive;
  position: relative;
  font-size: 2rem;
  
}

.buttonsContainer {
  margin-top: auto;
  display: flex;
  gap:.5rem
}


.moodContainer span{
  margin-top: .5rem;
}

.moodContainer p{
  margin-top: 1rem;
  margin-bottom: 0;
  background-color: rgb(179, 226, 242);
  width: fit-content;
  padding: .3rem;
  color: rgb(0, 0, 0);
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
}

.dateContainer{
  display: flex;
  justify-content: space-between;
}

.entryContainer .dateContainer .resultingFeeling{
  
  background-color: rgb(203, 255, 252);
  font-size: 2rem;
}