.Root{
  display: flex;
}

.container {
    --marian-blue: #03203C;
  --federal-blue: #1B3A57;
  --bright-blue: #4397ea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  background-color: azure;
  font-family: 'Quicksand', sans-serif;
  flex:1
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--marian-blue);
  text-shadow: 1px 1px 0px var(--federal-blue);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mood-button {
  width: 250px;
  padding: 1rem;
  padding-left: 2rem;
  border: none;
  border-radius: 50px;
  background-color: var(--federal-blue);
  color: #ecf0f1;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 0px var(--marian-blue);
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.mood-button:hover {
  transform: translateY(-5px);
  box-shadow: 2px 4px 0px var(--marian-blue);
  background-color: var(--bright-blue);
  color: #ecf0f1;
}

.mood-button.selected {
  background-color: var(--bright-blue);
  color: #ecf0f1;
}

.done-button {
  padding: 1rem;
  border: none;
  border-radius: 50px;
  background-color: var(--bright-blue);
  color: #ecf0f1;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 0px var(--federal-blue);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  width: 200px;
  text-align: center;
}

.done-button:hover {
  transform: translateY(-5px);
  box-shadow: 2px 4px 0px var(--federal-blue);
}

.backButton{
  background-color: rgb(220, 236, 246);
  width: 100%;
  max-width: 100px;
  padding: 0.5rem 1rem;
  
  margin-bottom: 2rem;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  border-color: #0070f3;
  align-self: flex-start;
}

.link{
  
  align-self: flex-start;
}

.backButton:hover{
  background-color: #0051c9;
  color: aliceblue;
}