.Root{
  display: flex;
  font-family: 'Playfair Display', serif;
}

.timer {
  background: #0CA6BC;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: auto;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

.button {
  padding: 8px 12px;
  border-radius: 20px;
  background-color: #071E53;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #c4d2e7;
}

.countdown {
  font-size: 60px;
  font-weight: 500;
  color: #3d5170;
  margin-bottom: 40px;
}

.startBtn {
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #071E53;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.startBtn:hover {
  background-color: #508fde;
}

.selected {
  background-color: #8d62ea;
  color: #ffffff;
}

.customTime {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.customTime label {
  font-weight: bold;
  color: #ffffff;
}

.customTime input {
  width: 60px;
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.customTime button {
  padding: 5px 10px;
  background-color: #15348b;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.customTime button:hover {
  background-color: #45a049;
}
