.Root{
  display: flex;
  font-family: 'JetBrains Mono', monospace;
}

.timer {
  background-color: #4d4855;
background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: auto;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

.button {
  padding: 8px 12px;
  border-radius: 20px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #c4d2e7;
}

.countdown {
  font-size: 60px;
  font-weight: 500;
  color: #c9c9c9;
  margin-bottom: 40px;
}

.startBtn {
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.startBtn:hover {
  background-color: #508fde;
}

.selected {
  background-color: #8d62ea;
  color: #ffffff;
}

.customTime {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.customTime label {
  font-weight: bold;
  color: #ffffff;
}

.customTime input {
  width: 60px;
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.customTime button {
  padding: 5px 10px;
  background-color: #7194f3;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.customTime button:hover {
  background-color: #45a049;
}

.chosenTaskLabel{
  margin-bottom: .5rem;
  text-decoration: underline;
  color: white;
}

.chosenTask{
  padding: .5rem 2rem;
  background-color: white;
  margin-bottom: 1.5rem;
  border-radius: 30px;
}

.actions{
  margin-bottom: 2.5rem;
}

.actions button{
  background-color: #15348b;
  color: white;
  margin-right: .5rem;
  padding: .5rem 1rem;
  border-radius: 23px;
}

.actions button:hover{
  background-color: #124673;
  color: white;
}